{% extends "dr_giovannini.html" %}
{% block avatar %}
<img id="avatar" src="/static/gothic-removebg.png" alt="Doctor Stefano Giovannini" class="from_left_and_top_bio">
{% endblock %}
{% block content %}
<div id="viewer" class="from_left_and_top_bio_v">
    <p class="red-rose-light line_height_15 larger-font">
        A doctor in <span class="forging-heat red-rose">Digital Humanities</span>, I am an <span class="forging-heat red-rose">Italian</span> native,
        fluent in <span class="forging-heat red-rose">Mandarin Chinese</span> and <span class="forging-heat red-rose">English</span>,
        and an advanced speaker of <span class="forging-heat red-rose">Japanese</span>.
        <br>
        I am the vice president of <a href="/pedone"><span class="red-rose">Pedone</span></a>,
        an association for artistic and cultural exchange between China and the rest of the world, focussing on Italy.
        <br>
        <br>
        I have over ten years of experience as a <span class="forging-heat red-rose">teacher and translator of Mandarin Chinese,
        English, and Italian</span>. My expertise ranges from art to language textbooks, legal documents, medical reports, and
        literature.
        <br>
        <br>
        As a <span class="forging-heat red-rose">software developer</span>, I am skilled in <span class="forging-heat red-rose">Python</span> for
        <span class="forging-heat red-rose">Web-development</span> with
            <a href="https://flask.palletsprojects.com/en/stable/" target="_blank" rel="noreferrer">
                <span class="red-rose">
                    Flask
                </span>
            </a>
        (as this website shows), and for <span class="forging-heat red-rose">data engineering</span> with
        <a href="https://www.selenium.dev/documentation/" target="_blank" rel="noreferrer">
            <span class="red-rose">
                Selenium
            </span>
        </a>
        and
        <a href="https://pandas.pydata.org/docs/" target="_blank" rel="noreferrer">
            <span class="red-rose">
                Pandas.
            </span>
        </a>
        I also have experience in <span class="forging-heat red-rose">natural-language processing</span> on Mandarin
        text with
        <a href="https://radimrehurek.com/gensim/" target="_blank" rel="noreferrer">
            <span class="red-rose">
                Gensim,
            </span>
        </a>
        <a href="https://github.com/fxsjy/jieba/blob/master/README.md#jieba-1" target="_blank" rel="noreferrer">
            <span class="red-rose">
                Jieba,
            </span>
        </a>
        <a href="https://www.nltk.org/" target="_blank" rel="noreferrer">
            <span class="red-rose">
                NLTK,
            </span>
        </a>
        and
        <a href="https://scikit-learn.org/stable/" target="_blank" rel="noreferrer">
            <span class="red-rose">
                Scikit-learn,
            </span>
        </a>
        which I used for my PhD thesis.
        <br>
        <br>
        I have {{ current_year - 2018}} years of <span class="forging-heat red-rose">academic working experience</span> in:
        (1) <span class="forging-heat red-rose">scientific research</span> in Digital Humanities, Game Studies, Sinology, and Sociology of
        Culture;
        (2) <span class="forging-heat red-rose">teaching</span> (a) data engineering for sociological research and (b) sociology of the
        Chinese media;
        (3) <span class="forging-heat red-rose">academic writing</span> of scientific articles and book chapters.
        <br>
        <br>
        It may be worth noting that I also have four years of experience as a <span class="forging-heat red-rose">freelance
        journalist</span> covering news of any kind in the <span class="forging-heat red-rose">Greater Milan</span> area, where I am
        based.
    </p>
</div>
{% endblock %}