{% extends "dr_giovannini.html" %}
{% block avatar %}
<img id="avatar" src="/static/gothic-removebg.png" alt="Doctor Stefano Giovannini" class="from_left_and_top_pedone">
{% endblock %}
{% block content %}
<div id="viewer" class="from_left_and_top_bio_v">
    <p class="red-rose-light line_height_15 larger-font">
        I am proud to be the vice president of <a href="https://www.pedone.eu/" target="_blank" rel="noreferrer">
        <span class="red-rose">Pedone</span></a>, an association for artistic and cultural exchange between China and
        the rest of the world, focussing on Italy.
        <a href="https://www.pedone.eu/" target="_blank" rel="noreferrer">
        <span class="red-rose">Pedone</span></a>
        was founded in 2015 by
        <a href="https://en.wikipedia.org/wiki/Tsinghua_University" target="_blank" rel="noreferrer">
            <span class="red-rose">Tsinghua</span></a>
         and
        <a href="https://en.wikipedia.org/wiki/Brera_Academy" target="_blank" rel="noreferrer">
            <span class="red-rose">Brera</span></a>
         alumnus
        <a href="https://www.pedone.eu/lizhiying/" target="_blank" rel="noreferrer"><span class="red-rose">Zhiying Li,
        </span></a> our beloved president.
        <br>
        <br>
        We have since been
        <a href="https://www.pedone.eu/eventi_passati/" target="_blank" rel="noreferrer"><span class="red-rose">
            very active</span></a>
         in fulfilling our mission of fostering the artistic and cultural exchanges between
        Chinese artists, art lovers, and literati on the one hand, and their foreign counterparts, focussing on Italy,
        where we are based in
        <a href="https://en.wikipedia.org/wiki/Milan_metropolitan_area" target="_blank" rel="noreferrer">
            <span class="red-rose">Greater Milan.</span></a>
        <br>
        <br>
        <a href="https://www.pedone.eu/" target="_blank" rel="noreferrer">
        <span class="red-rose">Pedone</span></a>
        has so far been successful in letting the European public get acquainted with such Chinese masters as
        painter
        <a href="https://www.pedone.eu/passioneindelebile/" target="_blank" rel="noreferrer">
            <span class="red-rose">Fangyuan Li,</span></a>
        with two monographic exhibitions (on the left is the video recap of 2024's one),
        and a third to come in 2025, as well as enabling the Chinese audience to recognize the talent of such Western
        artists as Italian
        <a href="https://www.pedone.eu/aureli_en/" target="_blank" rel="noreferrer">
            <span class="red-rose">Sabrina Aureli,</span></a>
        Peruvian <a href="https://www.pedone.eu/zegarra_en/" target="_blank" rel="noreferrer">
            <span class="red-rose">Marcia Zegarra,</span></a> and many more.
        <br>
        <br>
        <a href="https://www.pedone.eu/" target="_blank" rel="noreferrer">
        <span class="red-rose">Pedone Association for the Intercultural Exchange</span></a> provides not only art
        curation and event organisation but also a wide range of services to facilitate the integration of Chinese
        artists and art students in the Italian society, such as
                <a href="https://www.pedone.eu/留意/" target="_blank" rel="noreferrer">
                    <span class="red-rose">
                        Courses of Art, Design, Italian, Music, and Python
                    </span>
                </a>and
                <a href="https://www.pedone.eu/行人助安家意大利伦巴第大区房地产项目/" target="_blank" rel="noreferrer">
                    <span class="red-rose">
                        Housing solutions in Lombardy.
                    </span>
                </a>
    </p>
    <iframe id="video_embedder" class="bordered"
        src="https://www.youtube.com/embed/5IkBp3LoRfg"
            title="Pedone presenta: &quot;Passione indelebile&quot; mostra personale di Fangyuan Li - 意大利行人协会制作：李方元个人展览《激情不渝》"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
</div>
{% endblock %}