{% extends "dr_giovannini.html" %}
{% block avatar %}
<img id="avatar" src="/static/gothic-removebg.png" alt="Doctor Stefano Giovannini" class="from_left_and_top_services">
{% endblock %}
{% block content %}
<div id="viewer" class="from_left_and_top_services_v">
    <h2 class="red-rose">Freelance services</h2>
    <ul class="red-rose-light no_padding">
        <li class="auto_overflow no_padding inline-block bordered width30pc">
            <h3 class="no_margin small_padding">Software</h3>
            <ul class="auto_overflow bordered line_height_double no_margin no_padding">
                <li class="forging-heat no_padding red-rose">Data engineering</li>
                <li class="forging-heat no_padding red-rose">LDA with
                  <a href="https://radimrehurek.com/gensim/" target="_blank" rel="noreferrer">
                    <span class="red-rose">
                        Gensim
                    </span>
                  </a>
                </li>
                <li class="forging-heat no_padding red-rose">NLP with
                    <a href="https://github.com/fxsjy/jieba/blob/master/README.md#jieba-1" target="_blank" rel="noreferrer">
                      <span class="red-rose">
                          Jieba
                      </span>
                    </a> and
                    <a href="https://www.nltk.org/" target="_blank" rel="noreferrer">
                      <span class="red-rose">
                          NLTK
                      </span>
                    </a>
                </li>
                <li class="boxed_sexy forging-heat no_padding red-rose">Python courses</li>
                <li class="forging-heat no_padding red-rose">Scraping with
                  <a href="https://www.selenium.dev/documentation/" target="_blank" rel="noreferrer">
                    <span class="red-rose">
                        Selenium
                    </span>
                  </a>
                </li>
                <li class="forging-heat no_padding red-rose">Web-dev with
                  <a href="https://flask.palletsprojects.com/en/stable/" target="_blank" rel="noreferrer">
                    <span class="red-rose">
                        Flask
                    </span>
                  </a>
                </li>
            </ul>
        </li>
        <li class="auto_overflow no_padding inline-block bordered width30pc">
            <h3 class="no_margin small_padding">Teaching</h3>
            <ul class="auto_overflow bordered line_height_double no_margin no_padding">
                <li class="forging-heat no_padding red-rose">Academic writing</li>
                <li class="no_padding red-rose">Business English</li>
                <li class="forging-heat no_padding red-rose">Business Italian</li>
                <li class="no_padding red-rose">Business Mandarin</li>
                <li class="forging-heat no_padding red-rose">Italian conversation</li>
                <li class="no_padding red-rose">Italian diction</li>
                <li class="forging-heat no_padding red-rose">Italian for art</li>
                <li class="no_padding red-rose">Italian for CILS, CELI, PLIDA</li>
                <li class="forging-heat no_padding red-rose">Italian literature</li>
                <li class="no_padding red-rose">Mandarin for HSK</li>
                <li class="boxed_sexy_left_up_right forging-heat no_padding red-rose">Python basics</li>
                <li class="boxed_sexy_left_down_right no_padding red-rose">Python for data engineering</li>
                <li class="forging-heat no_padding red-rose">Web-dev with
                  <a href="https://flask.palletsprojects.com/en/stable/" target="_blank" rel="noreferrer">
                    <span class="forging-heat red-rose">
                        Flask
                    </span>
                  </a>
                </li>
                <li class="no_padding red-rose">Custom lessons</li>
            </ul>
        </li>
        <li class="auto_overflow no_padding inline-block bordered width30pc">
            <h3 class="no_margin small_padding">Translation</h3>
            <ul class="auto_overflow bordered line_height_double no_margin no_padding">
                <li class="forging-heat no_padding red-rose">English <-> Italian</li>
                <li class="forging-heat no_padding red-rose">English <-> Mandarin</li>
                <li class="forging-heat no_padding red-rose">Italian <-> Mandarin</li>
                <li class="no_padding red-rose">Art</li>
                <li class="no_padding red-rose">Business</li>
                <li class="no_padding red-rose">Legal</li>
                <li class="no_padding red-rose">Literature</li>
                <li class="no_padding red-rose">SEO</li>
                <li class="no_padding red-rose">Textbooks</li>
                <li class="no_padding red-rose">Web-pages</li>
                <li class="no_padding red-rose">Custom genres</li>
                <li class="forging-heat no_padding red-rose">Post-Editing</li>
                <li class="forging-heat no_padding red-rose">Review</li>
                <li class="forging-heat no_padding red-rose">Transcreation</li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}